.aboutPageContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    overflow: auto;
    margin-bottom: 50px;
}

.aboutHeaderContainer, .aboutBodyContainer{
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
    border: 3px solid;
    padding: 20px
}

@media (max-width: 1280px){
    .aboutHeaderContainer, .aboutBodyContainer{
        width: 70%;
    }
}

.aboutHeaderContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.aboutHeader{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
}

.profilePic{
    width: 200px;
    border-radius: 500px;
}

.captionContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.profileIcons{
    font-size: 25px;
}

.aboutBodyContainer{
    gap: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}

@media(max-width: 450px){
    .profilePic{
        margin: 0 auto;
    }
    .aboutHeaderContainer, .aboutBodyContainer{
        width: 90%;
    }
}