.githubPageContainer{
    background-image: url("../assets/starsbackground.jpg");
    background-size: contain;

    height:calc(100vh - 177px); /* Full viewport height minus the tab height */  
    margin-top: 177px;
    overflow-y: auto; /* Enables vertical scrolling within this container */
    padding: 50px;

    font-size: 20px;
}