.homePageContainer{
    background-image: url("../assets/starsbackground.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    height: calc(100vh - 177px); /* Full viewport height minus the tab height */
}

.titleContainer{
    font-size: 25px;
}

.orangeCatGif{
    height: 30%;
    width: 15%;
}