*{
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
}

body {
    overflow: hidden; 
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

.pageOuterContainer{
    /* display: grid;
    grid-template-rows: auto 1fr; */
    background-image: url("../assets/starsbackground.jpg");
    background-size: contain; 
    height: 100vh;

    display: flex;
    flex-direction: column;
}