.projectPageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px;
    overflow: auto;
}

.projectContainer{
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 30px;
    border: 3px solid;
    width: 40%;
}

.projectContainer img{
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    border: 3px solid;
}

.projectDescription{
    width: 90%;
    font-size: 20px;
}

.projectTools ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0px;
    text-align: center;
}

.projectTools li{
    border-radius: 5px;
    border: 2px solid;
    padding: 5px 10px;
    font-weight: bold;
}

.projectLinks{
    display: flex;
    font-size: 30px;
    gap: 10px;
    justify-content: flex-end;
    padding: 15px 0px 0px;
}

.projectLinks a:hover{
    opacity: 0.5;
}

.githubIcon{
    font-size: 35px;
}

@media (max-width: 873px) {
    .projectContainer{
        width: 90%;
    }
    .titleHead p{
        font-size: 20px;
    }
}

/* ! Selector Tools */
.toolSelectorOuterContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: flex-start;
}

.toolSelectorOuterContainer p{
    font-size: 20px;
    font-weight: bold;
}

.toolSelectorContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
}

.toolSelectorBtn{
    font-size: 18px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(218, 218, 218, 0.8);
    cursor: pointer;
}


.toolSelectorBtn:hover{
    opacity: 0.8;
}
