.skillsPageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    overflow: auto;
    margin-bottom: 50px;
}

.iconContainer{
    align-items: center;
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 200px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 200px;
    gap: 10px;
    border: 3px solid black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.iconContainer:hover{
    background-color: rgba(197, 197, 197, 0.6);
    transform: scale(1.1);
}

.skillIcon{
    font-size: 50px;
}

@media (max-width: 558px){
    .iconContainer{
        width: 150px;
        height: 150px;
        font-size: 25px;
    }

    .skillIcon{
        font-size: 45px;
    }
}


@media (max-width: 464px){
    .iconContainer{
        width: 120px;
        height: 120px;
    }

    .iconName{
        font-size: 20px;
    }
}

@media (max-width: 406px){
    .iconContainer{
        width: 100px;
        height: 100px;
    }

    .skillIcon{
        font-size: 40px;
    }

    .iconName{
        font-size: 18px;
    }
}




