.tabHeader {
    background-color: #e7aecb;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.headerIcons {
    align-items: center;
    display: flex;
    gap: 15px;
}

/* !Top left browser icons */
#iconMinimize {
    font-size: 30px;
    cursor: pointer;
}

#iconResize {
    font-size: 25px;
    cursor: pointer;
}

#iconClose {
    font-size: 28px;
    cursor: pointer;
}

/* !Nav tab icons and styles */
nav {
    align-items: flex-end; /* So the border line stays at the bottom */
    background-color: #e7aecb;
    border-bottom: 2px solid;
    display: flex;
}

/* Hide the bottom border of nav when a tab is active */
nav.no-border {
    border-bottom: none;
}

nav p {
    font-size: 20px;
}

.navTab {
    background-color: #F5F5F5;
    border-bottom: 2px solid; /* Default bottom border */
    border-top-right-radius: 15px;
    border: solid 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 10px;
    display: flex;
    gap: 70px;
}

/* Remove bottom border for the active tab */
.navTab.active {
    border-bottom: none;
    background-color: #e0e0e0; 
}

.navTab:hover {
    background-color: rgb(218, 216, 216);
}

.borderTab{
    background-color: black;
    border-bottom: 2px solid;
    /* border-width: 30px; */
    width: 100%;
    height: 1px;
    display: flex;
}

.tabBtnWithIcon {
    align-items: center;
    display: flex;
    gap: 5px;
}

.tabIcon {
    margin-top: 10px;
    font-size: 25px;
}

.navTabPlus p {
    cursor: pointer;
    font-size: 30px; 
    padding: 0px 10px;
}

/* !Search bar icons */
.searchBarHeader{
    background-color: #e0e0e0; 
    border-left: 2px solid;
    border-bottom: 2px solid;
    /* display: flex;
    align-items: center; */
    padding: 15px 20px;
    /* gap: 20px; */
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    gap: 20px;
}

.siteIcons{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchContainer{
    position: relative;
    display: flex;
    align-items: center;
}

.searchBar{
    border-radius: 15px;
    width: 100%;
    padding: 7px 35px;
    border: 2px solid;
    font-size: 18px;
}

#searchIcon{
    position: absolute;
    left: 10px;
    font-size: 20px;
}

#starIcon{
    position: absolute;
    right: 10px;
    font-size: 25px;
}

@media (max-width: 1300px){
    .navTab{
        width: fit-content;
    }
}

@media (max-width: 1362px){
    .navTab {
        width: 80%;
        padding: 0px 17px;
        gap: 5px; /* Reduce gap between icon and text */
    }
    .tabIcon {
        font-size: 20px; /* Adjust icon size */
    }
}

@media (max-width: 950px){
    .navTab{
        width: 90%;
    }
    .tabName{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 50px; /* Adjust this to control the visible portion of the text */
        display: inline-block;
    }
}

@media (max-width: 830px){
    .navTab{
        width: 10%;
        padding-right: 25px;
    }
    .tabName{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 40px; /* Adjust this to control the visible portion of the text */
        display: inline-block;
    }
}

@media (max-width: 800px){
    .tabName{
        max-width: 20px; /* Adjust this to control the visible portion of the text */
    }
}

@media (max-width: 678px){
    .tabName{
        max-width: 10px; 
    }
}

@media (max-width: 617px){
    .tabName{
        display: none;
    }

    .tabIcon{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    .navTab{
        width: 5%;
    }
    /* .tabIcon{
        font-size: 20px;
    } */
}
