.tabContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    overflow: hidden; 
}

.tabHeader {
    background-color: #e7aecb;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.headerIcons {
    align-items: center;
    display: flex;
    gap: 15px;
}

/* !Top left browser icons */
#iconMinimize {
    font-size: 30px;
    cursor: pointer;
}

#iconResize {
    font-size: 25px;
    cursor: pointer;
}

#iconClose {
    font-size: 28px;
    cursor: pointer;
}

/* !Nav tab icons and styles */
nav {
    align-items: flex-end; /* So the border line stays at the bottom */
    background-color: #e7aecb;
    border-bottom: 2px solid;
    display: flex;
}

/* Hide the bottom border of nav when a tab is active */
nav.no-border {
    border-bottom: none;
}

nav p {
    font-size: 20px;
}

.navTab {
    background-color: #F5F5F5;
    border-bottom: 2px solid; /* Default bottom border */
    border-top-right-radius: 15px;
    border: solid 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 12%;
}

/* Remove bottom border for the active tab */
.navTab.active {
    border-bottom: none;
    background-color: #e0e0e0; 
}

.navTab:hover {
    background-color: rgb(218, 216, 216);
}

.borderTab{
    background-color: black;
    border-bottom: 2px solid;
    /* border-width: 30px; */
    width: 20%;
    height: 1px;
    display: flex;
}

.tabBtnWithIcon {
    align-items: center;
    display: flex;
    gap: 5px;
}

.tabIcon {
    font-size: 25px;
}

.navTabPlus p {
    cursor: pointer;
    font-size: 30px; 
    padding: 0px 10px;
}

/* !Search bar icons */
.searchBarHeader{
    background-color: #e0e0e0; 
    border-left: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 20px;

}

.siteIcons{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchContainer{
    position: relative;
    display: flex;
    align-items: center;
}

.searchBar{
    border-radius: 15px;
    width: 155vh;
    padding: 7px 35px;
    border: 2px solid;
    font-size: 18px;

}

#searchIcon{
    position: absolute;
    left: 10px;
    font-size: 20px;
}

#starIcon{
    position: absolute;
    right: 10px;
    font-size: 25px;
}
